<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='css/styles.css'>
    <title>Website</title>
</head>
<body>

    <form  method="post" action="/add">
        <label for="email"> Email</label>
        <input type="email" name="email" id="email" required>

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required>

        <label for="description">Descripción</label>
        <textarea name="description" id="description" cols="30" rows="10" required></textarea>

        <!-- <input type="submit" id="button" value="Enviar" > -->
        <button id="button" type="submit">Enviar</button>

    </form>





    <script src="js/script.js"></script>
    
</body>
</html>